.container {
  display: flex;
}

.row {
  flex-direction: row;
}
.row-reverse {
  flex-direction: row-reverse;
}
.column {
  flex-direction: column;
}
.column-reverse {
  flex-direction: column-reverse;
}

.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}


.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-stretch {
  align-items: stretch;
}

.center {
  justify-content: center;
  align-items: center;
}
.bgg{
  background: #00d46a;
  padding-left: 5px!important;
  padding-right: 5px!important;
  border-radius: 4px;
  font-weight: 900!important;
  line-height: 1.5em!important
}

.main {
  background: #f12ec6
}
.cross {
  background: #2e82f1
}


.column .item {
  margin-right: 0px!important;
}

.item {
  background: #00d46a;
  padding: 10px!important;
  margin-right: 5px!important;
  margin-bottom: 2px!important
}
.item:last-child {
  margin-right: 0!important;
}


.example .container {
  width: 100%;
  background: #cdcdcd;
  padding: 20px!important;
}

.pai{
  width: 100%;
  background: #cdcdcd;
  padding: 20px!important;
  padding-bottom: 0!important;
  color: #00d46a;
  transform: translateY(10px);
}

blockquote {
  font-size: 35px!important
}
.color-white {
  color: #fff!important
}

pre,
code {
  width: 100%!important;
}

.fixul li {
  font-size: 0.8em
}
